{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{oscar.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Index">Index</label>
            <input id="Index" type="text" class="form-control" placeholder="Index" name="Index" value="{{oscar.Index}}">
        </div>
        <div class="col">
            <label for="Year">Year</label>
            <input id="Year" type="text" class="form-control" placeholder="Year"
                   name="Year" value="{{oscar.Year}}">
        </div>
        <div class="col">
            <label for="Age">Age</label>
            <input id="Age" type="text" class="form-control" placeholder="Age" name="Age" value="{{oscar.Age}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Name">Name</label>
            <input id="Name" type="text" class="form-control" placeholder="Name" name="Name" value="{{oscar.Name}}">
        </div>
        <div class="col">
            <label for="Movie">Movie</label>
            <input id="Movie" type="text" class="form-control" placeholder="Movie" name="Movie" value="{{oscar.Movie}}">
        </div>
        <div class="col">
            <label for="Column_6">Column_6</label>
            <input id="Column_6" type="text" class="form-control" placeholder="Column_6" name="Column_6" value="{{oscar.Column_6}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}